[GLOBAL]
pants_version = "2.30.0"
backend_packages = [
    "pants.backend.python",
    "pants.backend.experimental.go",
    "pants.backend.experimental.go.lint.golangci_lint",
    "pants.backend.shell",      # frontend shell command
    "pants.backend.docker",
    "pants.backend.experimental.javascript", # Add JS backend for frontend
]

pants_ignore.add = [
  "/analysis/env",
  "/frontend/node_modules", # Ignore node_modules in frontend
  "/frontend/dist", # Ignore dist in frontend
]


[python-bootstrap]
search_path = [
    "<PYENV>",
]

[python]
# 明確指定使用 Python 3.12
interpreter_constraints = ["==3.12.*"]
# (選配) 建議同時啟用 lockfile，這能讓你的 CI 更穩定
enable_resolves = true

[python-repos]
indexes.add = ["https://buf.build/gen/python"]

[python.resolves]
# 更新為新的路徑
python-default = "python-default.lock"



[docker]
use_buildx = true
env_vars = [
  "PATH",
  "DOCKER_CONFIG",
  "HOME",
]

[golang]
minimum_expected_version = "1.24.0"
go_search_paths = ["/Users/peter/.asdf/installs/golang/1.24.0/go/bin"]
cgo_enabled = false